

<div class="container">

 <%= render shared/errors %>

  <div class="form-signin">
    <h2 class="form-signin-heading">Reset your password</h2>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %>
      <%= f.submit "Update Password", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

  </div>
</div>
